/TestAPI.DAL/.vs/TestAPI.DAL/DesignTimeBuild/.dtbcache
/TestAPI.DAL/.vs/TestAPI.DAL/v15/.suo
/TestAPI.Model/.vs/TestAPI.Model/v15/.suo
/TestAPI.Model/.vs/TestAPI.Model/v15/Server/sqlite3/db.lock
/TestAPI.Model/.vs/TestAPI.Model/v15/Server/sqlite3/storage.ide
/TestAPI.Model/.vs/TestAPI.Model/v15/Server/sqlite3/storage.ide-shm
/TestAPI.Model/.vs/TestAPI.Model/v15/Server/sqlite3/storage.ide-wal
/TestAPI.Model/TestAPI.Model/obj/Debug/netcoreapp2.2/TestAPI.Model.csprojAssemblyReference.cache
/TestAPI/.vs/TestAPI/DesignTimeBuild/.dtbcache
/TestAPI/.vs/TestAPI/v15/.suo
/TestAPI/.vs/TestAPI/v15/Server/sqlite3/storage.ide
/TestAPI/.vs/TestAPI/v15/Server/sqlite3/storage.ide-shm
/TestAPI/.vs/TestAPI/v15/Server/sqlite3/storage.ide-wal
/TestAPI/TestAPI/obj/Debug/netcoreapp2.2/TestAPI.assets.cache
/TestAPI/TestAPI/obj/project.assets.json
/TestAPI/TestAPI/obj/TestAPI.csproj.nuget.cache
/TestAPI/TestAPI/obj/TestAPI.csproj.nuget.g.props
/TestAPI.DAL/.vs/TestAPI.DAL/v15/.suo
/TestAPI/.vs/TestAPI/DesignTimeBuild/.dtbcache
/TestAPI/.vs/TestAPI/v15/.suo
/TestAPI/.vs/TestAPI/v15/Server/sqlite3/storage.ide
/TestAPI/.vs/TestAPI/v15/Server/sqlite3/storage.ide-shm
/TestAPI/.vs/TestAPI/v15/Server/sqlite3/storage.ide-wal
/TestAPI/TestAPI/obj/Debug/netcoreapp2.2/TestAPI.assets.cache
/TestAPI/TestAPI/obj/project.assets.json
/TestAPI/TestAPI/obj/TestAPI.csproj.nuget.cache
/TestAPI/TestAPI/obj/TestAPI.csproj.nuget.g.props
